/* CHAT STYLES */
* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.5px;
}

.globalBox {
  max-width: 2000px;
  margin: 0 auto;
}

.ce-chat-list {
  background-color: rgb(240, 240, 240) !important;
}

.ce-chats-container {
  background-color: rgb(240, 240, 240) !important;
}

.ce-active-chat-card {
  /* background-color: #cabcdc !important; */
  /* border: 4px solid #cabcdc !important; */
  background-color: #8774E1 !important;
  /* border: 4px solid #8774E1 !important; */
  /* border-radius: 0px !important; */
}

.ce-chat-subtitle-text {
  color: #595959 !important;
  color: #E4E6EB !important;
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
  padding-right: 0px !important;
}

.ce-text-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-primary-button {
  border-radius: 6px !important;
  /* background-color: #7554a0 !important; */
  background-color: #8774E1 !important;
  position: relative;
  bottom: 1px;
}

.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: rgb(240, 240, 240) !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  padding-top: 12px !important;
}

.ce-chat-avatars-row {
  display: none !important;
}

/* CUSTOM FEED */

.chat-feed {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(240, 240, 240);
}

.chat-title-container {
  position: sticky;
  top: 0px;
  left: 0;
  right: 0;
  padding-top: 10px;
  z-index: 10;
  /* width: calc(100% - 36px); */
  text-align: center;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.338); */
  margin-bottom: 10px;
  background-color: rgb(240, 240, 240);
  /* background-color: #8774E1; */
}

.chat-title {
  /* color: #7554a0; */
  color: #8774E1;
  font-weight: 800;
  font-size: 28px;
}

.chat-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  /* color: #7554a0; */
  color: #8774E1;
  font-weight: 600;
  font-size: 12px;
  padding-top: 4px;
}

.message-row {
  float: left;
  width: 100%;
  display: flex;
  margin-left: 18px;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}

.message {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 6px;
  max-width: 60%;
}

.message-image {
  margin-right: 18px;
  object-fit: cover;
  border-radius: 6px;
  height: 30vw;
  /* width: 30vw; */
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.message-form-container {
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  /* width: calc(100% - 36px); */
  padding: 18px;
  /* padding: 18px 0px 18px 18px; */
  background-color: rgb(240, 240, 240);
}

.message-form {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid #3b2a50;
  background-color: white;
}

.message-input {
  height: 40px;
  width: calc(100% - 132px);
  background-color: white;
  border: 1px solid white;
  padding: 0px 18px;
  outline: none;
  font-size: 15px;
}

.image-button {
  cursor: pointer;
  padding: 0px 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  background-color: white;
  border: 1px solid white;
  padding: 0px 25px 0px 0px;
  color: #8774E1;
  font-size: 20px;
  cursor: pointer;
}

.send-icon {
  top: 1px;
  position: relative;
  transform: rotate(-90deg);
}

.picture-icon {
  top: 1px;
  position: relative;
  font-size: 14px;
  color: #8774E1;
  font-size: 20px;
}

/* FORM STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
}

.wrapper {
  height: 100vh;
  width: 100%;
  /* background: rgb(117, 84, 160); */
  /* background: linear-gradient(90deg, rgba(117, 84, 160, 1) 7%, rgba(117, 84, 160, 1) 17%, rgba(106, 95, 168, 1) 29%, rgba(99, 103, 174, 1) 44%, rgba(87, 116, 184, 1) 66%, rgba(70, 135, 198, 1) 83%, rgba(44, 163, 219, 1) 96%, rgba(22, 188, 237, 1) 100%, rgba(0, 212, 255, 1) 100%); */
  display: flex;
  background-color: #212121;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.input {
  color: #333;
  font-size: 1rem;
  margin: 0 auto;
  padding: .7rem 1.2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 25px;
}

.showPass {
  position: absolute;
  right: 35px;
  top: 12px;
  color: #595959;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
}

.form {
  width: 400px;
}

.error {
  color: red;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 40px;
  width: 100%;
  font-size: 2.3em;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 50px 0px;
  font-size: 150px;
  color: #8774E1;
}

.button {
  border-radius: 4px;
  border: none;
  /* background-color: white; */
  background-color: #8774E1;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 30px 5px 5px 5px;
  width: 90%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.logout {
  width: 100%;
  /* border: none; */
  /* padding: .7rem 1rem; */
  font-size: 18px;
  /* border-radius: 10px; */
  cursor: pointer;
  text-align: left;
  user-select: none;
  background-color: #8774E1;
}

.cardLeft {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.cardLeft img {
  width: 100%;
}

.cardRight {
  display: flex;
  gap: 10px;
}

.imgContainer {
  width: 100px;
  height: 80px;
  overflow: hidden;
}

.imgContainer img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.chatAppState {
  height: 100%;
  border-left: 1px solid rgb(175, 175, 175);
  background-color: rgb(240, 240, 240);
}

.mainModal {
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 15;
  background-color: white;
}

#menu {
  display: none;
  position: absolute;
  top: 20px;
  left: 15px;
}

#colorid1color {
  color: #8774E1;
}

#colorid2color {
  color: #0D6EFD;
}

#colorid3color {
  color: #C06C84;
}

#colorid4color {
  color: black;
}

/* Media Queries */
@media (max-width: 450px) {
  .chatAppState {
    display: none !important;
  }

  .chat-title-container {
    margin: 0px 5px 8px;
    background-color: #8774E1;
  }

  #colorid1 {
    background-color: #8774E1 !important;
  }

  #colorid2 {
    background-color: #0D6EFD !important;
  }

  #colorid3 {
    background-color: #C06C84 !important;
  }

  #colorid4 {
    background-color: black !important;
  }

  .chat-title {
    color: white !important;
    font-weight: 800;
    font-size: 28px;
  }

  .chat-subtitle {
    color: white !important;
    font-weight: 600;
    font-size: 12px;
    padding-top: 4px;
  }

  #menu {
    display: block;
  }
}